[submodule "shared/gsl"]
	path = shared/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "shared/re2"]
	path = shared/re2
	url = https://github.com/google/re2.git
[submodule "shared/abseil-cpp"]
	path = shared/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
